<app-header [title]="title ? title : 'No encontrado'" [showBackButton]="true"></app-header>
@if(event$ | async; as event){
<div class="container">
  <div class="row mt-3">
    <div class="col-12 col-md-6 order-md-2 mb-3">
      <!-- shopping cart -->
      <app-shopping-cart></app-shopping-cart>
    </div>
    <div class="col-12 col-md-6 order-md-1">

      @for(sessionForm of sessionForms; track sessionForm){
      <mat-card class="mb-3">
        <mat-card-content>
          <form [formGroup]="sessionForm" (ngSubmit)="onSubmit(event, sessionForm.getRawValue())">
            <div class="mb-3">
              <mat-form-field appearance="fill">
                <mat-label>Fecha</mat-label>
                <input matInput type="text" id="date{{sessionForm}}" formControlName="date" readonly>
              </mat-form-field>
            </div>
            <div class="mb-3">
              <mat-form-field appearance="fill">
                <mat-label>Disponibilidad</mat-label>
                <input matInput type="number" id="availability{{sessionForm}}" formControlName="availability" readonly>
              </mat-form-field>
            </div>
            <div class="mb-1">
              <mat-form-field appearance="fill">
                <mat-label>Selecciona cantidad</mat-label>
                <input matInput type="number" id="selected{{sessionForm}}" formControlName="selected">
                @if(sessionForm.get('selected')?.invalid && (sessionForm.get('selected')?.dirty ||
                sessionForm.get('selected')?.touched)){
                <mat-hint align="start" class="text-danger">

                  @if(sessionForm.get('selected')?.hasError('required')){
                  <strong>
                    Se requiere una cantidad mayor a 0.
                  </strong>
                  }

                  @if(sessionForm.get('selected')?.hasError('min')){
                  <strong>
                    La cantidad no puede ser menor a 0.
                  </strong>
                  }

                  @if(sessionForm.get('selected')?.hasError('max')){
                  <strong>
                    La cantidad seleccionada no puede ser mayor a la disponible.
                  </strong>
                  }
                </mat-hint>
                }

              </mat-form-field>
            </div>
            <div class="d-flex justify-content-center">
              <button [disabled]="sessionForm.invalid" mat-raised-button color="accent" type="submit"
                class="btn btn-primary mb-3">Agregar
                al carrito</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
      }

    </div>

  </div>
</div>
} @else {
<img src="../../../assets/img/not-found.svg" alt="not-found">
}
